/* Табличная вёрстка */
#layout {
    width: 100%;
    height: 650px;
}

/* Центрирование, отлипание столбцов от ячеек, выравнивание содержимого ячеек */
td {
    padding: 8px;
    vertical-align: middle;
    text-align: center;
}

/* Шапка сайта (столбец): высота, выравнивание содержимого, центрирование текста */
#cap {
    height: 15px;
    vertical-align: middle;
    text-align: center;
}

/* Шапка сайта (блок с текстом): настройка шрифта */
#capBlock {
    font-family: Century Schoolbook, monospace;
    font-size: 28px;
    color: black;
}

/* Основные данные (столбец): высота, ширина */
#data {
    height: 200px;
    width: 120px;
    max-width: 150px;
    max-height: 150px;
}

/* Столбик с выбором Y и R */
#choosingColumn {
    width: 450px;
}

/* Кнопка отправки формы: тени + высота + округление границ */
#accButton {
    box-shadow: 3px 3px 10px 2px black;
    height: 50px;
    border-radius: 10px 10px;
    font-weight: bold;
}

/* Кнопка нажата: тени убираются (эффект нажатия на объемную кнопку) */
#accButton:active {
    box-shadow: none;
}

/* Кнопка недоступна: отсутствие теней + серый цвет */
#accButton:disabled {
    box-shadow: none;
    color: gray;
}

/* Таблица данных */
#dataTable {
    width: 100%;
    height: 30%;
    border-spacing: 9px 7px;
}

/* Заголовок таблицы данных */
#capRow {
    background-color: #1582ff;
    color: aliceblue;
}

/* Строки и столбцы таблицы данных (отступы, границы, тени) */
#dataTable tr td {
    padding: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
}

/* Строки и столбцы таблицы данных (пропадание тени при наведении: эффект объёма) */
#dataTable tr:hover td:hover {
    box-shadow: none;
}

/* Элемент холста (canvas) */
#graphic {
    cursor: url("../images/NoCursor.cur"), pointer;
}

#graphic.cursor {
    cursor: url("../images/Cursor.cur"), pointer;
}

/* Окно с ошибками */
.errDialog {
    background: greenyellow;
    outline: red ridge 4px;
    height: 100px;
    width: 300px;
    font-weight: bold;
    font-family: Century Schoolbook, monospace;
    font-size: 18px;
    color: blue;
    margin: 0 auto;
}

/* Классы checkbox-button'ов жадный компоновщик + настройка длины кнопок отступами */
.checkboxX, .checkboxR {
    display: grid;
    margin-left: 2px;
    margin-right: 2px;
}

/* Checkbox-button из кружочка в блок (отключение дисплея) */
.checkboxX input[type=checkbox], .checkboxR input[type=checkbox] {
    display: none;
}

/* Параметры радио кнопок и меток при нажатии */
.checkboxX input[type=checkbox]:checked + label, .checkboxR input[type=checkbox]:checked + label {
    background: #1582ff;
    color: aliceblue;
    box-shadow: none;
}
/* Параметры кнопок при наведении на них курсором */
.checkboxX label:hover, .checkboxR label:hover {
    background: #4a7692;
    color: aliceblue;
}

/* Настройка меток для радио кнопок */
.checkboxX label, .checkboxR label {
    display: inline-block;
    cursor: pointer;
    line-height: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    user-select: none;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
}

/* Параментры боксов при запрете на их изменение */
.checkboxR input[type=checkbox]:disabled {
    background: #555555;
    color: #555555;
    box-shadow: none;
}

/* Настройка поля ввода для координаты Y */
#yText {
    margin-block-start: 10px;
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
}

/* Поведение поля ввода координаты Y при получении фокуса */
#yText:focus {
    background-color: #1582ff;
}

